/*body, #global, #first_split, header, nav, section, #menu, .image1, .image2, section, ., .label_deroulant, #choix_utilisateur, .button, #profil, .param_value, #fert_range, label, #param_div, .param_div{
    border: solid;
}*/

body{
    height:100%;
    width:100%;
    margin: 0px;
    color: #4b524b;
    border-color: #4b524b;
    background-color: #efeeec
}

#global{
    border-color:red;
}

.page_begins{
    border-color:purple;
    display: flex;
}

header{
    border-color: purple
}

nav{
    border-right: solid;
    border-color:black;
    height: 100%;
    padding-left: -30px;
    position: fixed;
}

.label_deroulant, .sensor_values label, #sensor_value label{
    font-size: 1.2em;
}

#pic1{ background:url("../images/accueil.png") no-repeat;}
#pic2{ background:url("../images/param.png") no-repeat;}
#click_action{ background:url("../images/courbe.png") no-repeat;}
#pic4{ background:url("../images/temp.png") no-repeat;}
#pic5{ background:url("../images/ph.png") no-repeat;}
#pic6{ background:url("../images/image_projet.png") no-repeat;}
#pic7{ background:url("../images/photo.png") no-repeat;}
#pic8{ background:url("../images/forum.png") no-repeat;}
#picture_home{ background:url("../images/NO_ID_BIG.png") no-repeat;}

#pic1, #pic2, #click_action, #pic4, #pic5, #pic6, #pic7, #pic8, #picture_home{
    background-position: center center;
}

#icone_representation1{ background:url("../images/fleche_up.png") no-repeat;}
#icone_representation2{ background:url("../images/fleche_middle.png") no-repeat;}
#icone_representation3{ background:url("../images/fleche_down.png") no-repeat;}
#icone_representation4{ background:url("../images/fleche_up.png") no-repeat;}

#menu{
    border-color: rgb(205, 133, 50);
    margin-top: 0px;
    margin-left: -40px;
    margin:0px 0px 0px 0px;
    padding: 0px;
}

.image1{
    border: 3px solid black;
    border-radius: 15px;
    height: 85px;
    width: 85px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1.selected {
    opacity: 0.5;
    border-color: rgb(0, 134, 0)
}

.image2 {
    border-radius: 15px;
    border: 3px solid black;
    height: 70px;
    width: 70px;
    margin: 5px;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image2.selected {
    opacity: 0.5;
    border-color: rgb(9, 94, 9)
}

section{
    border-color:Grey;
    padding-left: 108px;
    margin: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#page_settings{
    padding: 80px 0px 0px 0px;
}

.section1_div{
    border-color: red;
    margin: 15px 0px 0px 0px;
}

#choix_utilisateur{
    border-color: purple;
}

#button1_div input{
    /*border-color: yellowgreen;*/
    margin: 0px 20px 20px 0px;
    height: 30px;
    width: 100px;
}

.label_deroulant{
    border-bottom: solid;
    border-color: rgb(175, 175, 175);
    border-width: 2px;
    color: rgb(175, 175, 175);
    margin: 15px 0px 0px 0px;
}

#profil{
    /*border-color: blue;*/
    height: 30px;
    width: 350px;
}

#temperature, #ph{
    border-color: red;
    display: flex;
}

.param_div{
    font-size: 1.5em;
    margin: 0px 100px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#range_value{
    font-size: 1.5em;
}

#param_div{
    margin: 10px 100px 0px 0px;
}

.param_div label{
    width: 160px;
    display: flex;
    justify-content: center;
}

.param_value{
    border: solid;
    border-color: black;
    border-width: 2px;
    height: 27px;
    width: 150px;
    margin: 5px 0px 0px 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.param_value input{
    border: none;
    height: inherit;
    width: inherit;
    background-color: inherit;
    font-size: 0.85em;
    text-align: center;
}

.param_value output{
    border: none;
    height: inherit;
    width: inherit;
    background-color: inherit;
    font-size: 0.85em;
    text-align: center;
}

.param_value input:focus{
    outline: none;
}

.range{
    border-left: solid;
    border-right: solid;
    border-color: grey;
    /*border-color: orange;*/
    height: 30px;
    width: 80%;
    margin: 25px 0px 0px 150px;
    padding: 0px;
}

/*#section2, #sensor_values_table, #top_table, .table_line, #table_line, .sensor_values, #sensor_value, .sensor_values span, #sensor_value span, .icone_representation, #icone_representation, #picture_home{
    border: solid;
}*/

/*page home*/

#section2{
    border-color: rgb(0, 255, 255);
    margin: 80px 0px 0px 0px;
    display: flex;
    flex-direction: initial;
}

#sensor_values_table{
    border-color: blue;
    width: 350px;
    margin: 30px 0px 75px 175px;
    display: flex;
}

#top_table{
    border-color: green;
}

.table_line{
    border-color: purple;
    margin: 0px 0px 100px 0px;
    display: flex;
}

#table_line{
    border-color: purple;
    display: flex;
    flex-direction: column;
}

.sensor_values, #sensor_value{
    border-color: orange;
    display: flex;
    flex-direction: column;
}

#sensor_value label{
    border-color: pink;
    width: 250px;
}

#sensor_value span, .sensor_values span{
    border: solid;
}

.icone_representation{
    border-color: red;
    height: 30px;
    width: 58px;
    margin: 0px 0px 0px 20px;
    align-self: flex-end; /* on aligne l'élément sur le bord inférieur du conteneur */
}

#icone_representation4{
    border-color: red;
    height: 30px;
    width: 70px;
    margin: 0px 0px 0px 20px;
}

.sensor_values span, #sensor_value span{
    height: 30px;
    width: 250px;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fertilisant_span{
    
}

#picture_home{
    border-color: green;
    width: 620px;
    height: 620px;
    margin: 0px 0px 75px 175px;
}

/* Fin page home */

/* Début pages Graphics */

.page_begins{
    border-color: red; 
}

/* Fin pages Graphics */

/* Début page picture */

/*#page_picture, #section3, #photo_split, #left_block{
    border: solid;
}*/

#page_picture{
    border-color: green;
}

#section7{
    border-color: blue;
    margin: 80px 0px 0px 0px;
}

#photo_split{
    border-color: pink;
    display: flex;
    justify-content: space-around;
}

#left_block{
    border-color: purple;
    max-height: 620px;
    max-width: 640px;
    overflow: auto;
}
/* Fin page picture */

.WIP{
    border-color: red;
    height: 720px;
    width: 1375px;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#session-context {
    position: absolute;
    right: 0;
    border-left: 3px solid;
    border-bottom: 3px solid;
    font-size: 1.5em;
    padding: 10px;
}

#session-context select {
    font-size:0.9em;
    margin: 10px;
    width: 200px;
    padding-left: 6px;
}